{% extends "layout.njk" %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% set pageTitle = applicationName + " - Choose barcode option" %}
{% set pageId = 'choose-barcode-option' %}

{% block content %}

  <section class="app-container govuk-body">
    {% if errors.length > 0 %}
      {{ govukErrorSummary({
        titleText: 'There is a problem',
        errorList: errors,
        attributes: { 'data-qa-errors': true }
      }) }}
    {% endif %}

    <form action="/barcode/choose-barcode-option" method="post" novalidate id="choose-barcode-option-form">
      <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

      {% call govukFieldset({ }) %}

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
              <h1 class="govuk-fieldset__heading">How do you want to print the barcodes?</h1>
            </legend>
            <p class="govuk-hint">Each recipient's address will be displayed with the barcode. You'll need to use a window envelope.</p>
          </div>
        </div>

        {{ govukRadios({
          idPrefix: "barcodeOption",
          name: "barcodeOption",
          items: ['image', 'coversheet'] | renderChooseBarcodeOptionRadiosFilter,
          errorMessage: errors | findError('barcodeOption')
        }) }}

        {{ govukButton({
          text: "Continue",
          preventDoubleClick: true,
          attributes: { 'data-qa': 'continue-button' }
        }) }}

      {% endcall %}
    </form>
  </section>

{% endblock %}