{% extends "layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/select/macro.njk" import govukSelect %}

{% set pageTitle = applicationName + " - Find recipient" %}
{% set pageId = 'find-recipient' %}

{% block content %}

  <section class="app-container govuk-body">
    {% if errors.length > 0 %}
      {{ govukErrorSummary({
        titleText: 'There is a problem',
        errorList: errors,
        attributes: { 'data-qa-errors': true }
      }) }}
    {% endif %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">Find recipient placeholder page</h1>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

        {% if barcode %}
          <p>Barcode number: {{ barcode }}</p>
        {% else %}
          <p>Press the button to generate a barcode</p>
        {% endif %}

        <form action="/barcode" method="post" novalidate>
          <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

          <div class="govuk-button-group">
            {{ govukButton({
              text: "Create Barcode"
            }) }}
          </div>

        </form>

        <hr />
        {{ govukSelect({
          id: 'prison',
          name: 'prison',
          label: {
            text: 'Prison'
          },
          items: prisonRegister
        }) }}

      </div>
    </div>
  </section>

{% endblock %}
