{% extends "layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% set pageTitle = applicationName + " - Enter name" %}
{% set pageId = 'find-recipient-by-prisoner-name' %}

{% block content %}

  <section class="app-container govuk-body">
    {% if errors.length > 0 %}
      {{ govukErrorSummary({
        titleText: 'There is a problem',
        errorList: errors,
        attributes: { 'data-qa-errors': true }
      }) }}
    {% endif %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form id="find-recipient-by-prisoner-name-form" action="/barcode/find-recipient/by-prisoner-name" method="post" novalidate>
          <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

          {% call govukFieldset({ }) %}
            {{ govukInput({
              label: {
                text: "Enter a full name",
                classes: "govuk-label--xl",
                isPageHeading: true
              },
              hint: {
                text: "Use their first name and last name"
              },
              attributes: {
                autocomplete: 'off'
              },
              classes: 'govuk-input govuk-input--width-20',
              id: "prisonerName",
              name: "prisonerName",
              value: form.prisonerName,
              errorMessage: errors | findError('prisonerName')
            }) }}

            {{ govukButton({
              text: "Continue",
              preventDoubleClick: true,
              attributes: { 'data-qa': 'enter-button' }
            }) }}
          {% endcall %}
        </form>

      </div>
    </div>

  </section>

{% endblock %}
