{% extends "layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% set pageTitle = applicationName + " - Enter prison number" %}
{% set pageId = 'find-recipient-by-prison-number' %}

{% block content %}

  <section class="app-container govuk-body">
    {% if errors.length > 0 %}
      {{ govukErrorSummary({
        titleText: 'There is a problem',
        errorList: errors,
        attributes: { 'data-qa-errors': true }
      }) }}
    {% endif %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form id="find-recipient-by-prison-number-form" action="/barcode/find-recipient/by-prison-number" method="post" novalidate>
          <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

          {% call govukFieldset({ }) %}
            {{ govukInput({
              label: {
                text: "Enter a prison number",
                classes: 'govuk-label--xl',
                isPageHeading: true
              },
              hint: {
                html: "The details you provide will be used to address your mail.<br><br>For example, A1234BC"
              },
              attributes: {
                autocomplete: 'off'
              },
              classes: "govuk-input govuk-input--width-10",
              id: "prisonNumber",
              name: "prisonNumber",
              value: form.prisonNumber,
              errorMessage: errors | findError('prisonNumber')
            }) }}

            <details class="govuk-details">
              <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                  Help with the prison number
                  </span>
              </summary>
              <div class="govuk-details__text">
                  This is the number given to people when they enter prison.
                  <br><br>
                  Their prison number stays the same if they move to another prison. 
                  <br><br>
                  You need to ask the prisoner for this information before you can book.
              </div>
            </details>

            <p class="govuk-!-margin-top-6">
              <a href="/barcode/find-recipient/by-prisoner-name" class="govuk-link" data-qa="by-prisoner-name-link">I don't have their prison number</a>
            </p>

            {{ govukButton({
              text: "Continue",
              preventDoubleClick: true,
              attributes: { 'data-qa': 'enter-button' }
            }) }}

          {% endcall %}
        </form>

      </div>
    </div>

  </section>

{% endblock %}
