{% extends "layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/select/macro.njk" import govukSelect %}

{% set pageTitle = applicationName + " - Copy barcode" %}
{% set pageId = 'generate-barcode-image' %}

{% block content %}

  <section class="app-container govuk-body" id="generate-barcode-image-container">
    {% if errors.length > 0 %}
      {{ govukErrorSummary({
        titleText: 'There is a problem',
        errorList: errors,
        attributes: { 'data-qa-errors': true }
      }) }}
    {% endif %}

    <div class="govuk-grid-row govuk-!-margin-bottom-4">
      <div class="govuk-grid-column-three-quarters">
        <h1 class="govuk-heading-xl">Copy the address and barcode into your own document</h1>

        <ol class="govuk-list govuk-list--number">
          <li>Copy or download a barcode and address image.</li>
          <li>Paste or insert the image into your document.</li>
          <li>Position the image so it will be fully visible in the window when you've printed your document and put it in the envelope.</li>
          <li>Repeat for each image.</li>
        </ol>

      </div>
    </div>

    {% for barcodeImage in barcodeImages %}
      <div class="govuk-grid-row govuk-!-margin-bottom-6">
        <div class="govuk-grid-column-full barcode-address-container">
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
              <img class="barcode-address-image" alt="The generated barcode image for {{ barcodeImage.barcodeImageName }}" src="{{ barcodeImage.barcodeImageUrl }}">
            </div>
          </div>
          <div class="copy-barcode-feedback-container" data-qa="copy-barcode-feedback-container-{{ loop.index }}">
            <p>
              <svg fill="currentColor" role="presentation" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" height="25" width="25">
                <path d="M25,6.2L8.7,23.2L0,14.1l4-4.2l4.7,4.9L21,2L25,6.2z"></path>
              </svg>
              <span class="govuk-body" aria-live="polite"></span>
            </p>
          </div>
          <div class="govuk-button-group govuk-!-margin-top-2">
            {% set buttonText %}
              Copy<span class="govuk-visually-hidden"> barcode for {{ barcodeImage.recipientName }}</span>
            {% endset %}
            {{ govukButton({
              html: buttonText,
              classes: "govuk-button--secondary barcode-address-copy-button",
              attributes: { 'data-qa': 'copy-image-button' }
            }) }}
            {% set buttonText %}
              Download<span class="govuk-visually-hidden"> barcode for {{ barcodeImage.recipientName }}</span>
            {% endset %}
            {{ govukButton({
              html: buttonText,
              classes: "govuk-button--secondary",
              element: "a",
              href: barcodeImage.barcodeImageUrl,
              attributes: { 'target': '_blank', 'download': barcodeImage.barcodeImageName, 'data-qa': 'download-image-button' }
            }) }}
          </div>

          {% if loop.length > 1 %}
            <hr class="govuk-section-break govuk-section-break--visible">
          {% endif %}

        </div>
      </div>
    {% endfor %}

    <div class="govuk-grid-row govuk-!-margin-bottom-6">
      <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-m row govuk-!-margin-bottom-2">If you want to send more legal mail</h1>
        <a href="/barcode/find-recipient" data-qa="send-more-legal-mail" class="govuk-link">Enter another prison number</a>
      </div>
    </div>

  </section>

{% endblock %}
