{% extends "layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% set pageTitle = applicationName + " - Review recipients" %}
{% set pageId = 'review-recipients' %}

{% block content %}

  <section class="app-container govuk-body">
    {% if errors.length > 0 %}
      {{ govukErrorSummary({
        titleText: 'There is a problem',
        errorList: errors,
        attributes: { 'data-qa-errors': true }
      }) }}
    {% endif %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">Review your recipients</h1>

        {% if recipients.length > 0 %}
          {{ govukTable({
            firstCellIsHeader: false,
            head: [
              { text: 'Name' },
              { text: 'Prison number or date of birth' },
              { text: 'Prison' },
              { text: '' },
              { text: '' }
            ],
            rows: recipients | recipientTableRows,
            attributes: { 'data-qa': 'recipients-table' }
          }) }}

          <p class="govuk-!-margin-top-6 govuk-!-margin-bottom-6">
            <a href="/barcode/find-recipient" class="govuk-link" data-qa="add-another-recipient">Add another recipient</a>
          </p>

          {{ govukButton({
            text: 'Prepare barcodes',
            href: '/barcode/choose-barcode-option',
            attributes: { 'data-qa': 'prepare-barcodes-button' }
          }) }}

        {% else %}
          <p class="govuk-!-margin-bottom-6">
            You have removed all recipients. You need to add at least one recipient in order to continue.
          </p>
          {{ govukButton({
            text: 'Add a recipient',
            href: '/barcode/find-recipient',
            attributes: { 'data-qa': 'add-another-recipient' }
          }) }}

        {% endif %}
      </div>
    </div>

  </section>

{% endblock %}
