{% extends "layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/select/macro.njk" import govukSelect %}

{% set pageTitle = applicationName + " - Review recipients" %}
{% set pageId = 'review-recipients' %}

{% block content %}

  <section class="app-container govuk-body">
    {% if errors.length > 0 %}
      {{ govukErrorSummary({
        titleText: 'There is a problem',
        errorList: errors,
        attributes: { 'data-qa-errors': true }
      }) }}
    {% endif %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">Review recipients placeholder page</h1>

        <h2 class="govuk-heading-m">Temporary display of recipients for dev purposes</h2>
        <ul>
          {% for recipient in recipients %}
            <li>{{ recipient.prisonerName }}, {{ recipient.prisonNumber }}, {{ recipient.prisonAddress.premise }}, {{ recipient.prisonAddress.postalCode }}</li>
          {% endfor %}
        </ul>

      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

        <p>Press the button to generate a barcode</p>

        <div class="govuk-grid-column-two-thirds">
          <form action="/barcode/generate-barcode-image" novalidate>

            <div class="govuk-button-group">
              {{ govukButton({
                text: "Create Barcode",
                attributes: { "data-qa": "create-barcode-button" }
              }) }}
            </div>

          </form>
        </div>
      </div>
    </div>

  </section>

{% endblock %}
