{% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

<header>
  {{ govukHeader({
  homepageUrl: "https://www.gov.uk"
}) }}
</header>
{% set navigationLinks = [] %}
{% if barcodeUser %}
{%
  set navigationLinks = [
    {
      href: "/legal-sender/sign-out",
      text: "Sign out"
    }
  ]
%}
{% endif %}
{{ govukServiceNavigation({
  serviceName: applicationName,
  serviceUrl: "/",
  navigation: navigationLinks
}) }}
