{% from "govuk/components/tag/macro.njk" import govukTag %}
{% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}
{% set govukRebrand = true %}

{{ govukHeader({
  homepageUrl: "https://www.gov.uk",
  classes: "govuk-header--full-width-border"
}) }}

{% if barcodeUser %}
  {{ govukServiceNavigation({
    serviceName: {{ applicationName }},
    serviceUrl: "https://send-legal-mail.prison.service.justice.gov.uk/",
    attributes: { data-qa="header-text" },
    navigation: [
      {
        href: "/legal-sender/sign-out",
        text: "Sign out"
      }
    ]
  }) }}

{%- else -%}
  {{ govukServiceNavigation({
    serviceName: {{ applicationName }},
    serviceUrl: "https://send-legal-mail.prison.service.justice.gov.uk/",
    attributes: { data-qa="header-text" }
  }) }}

{% endif %}

<script nonce="{{ cspNonce }}" setup lang="ts">
</script>
