{% extends "layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% set pageTitle = applicationName + " - Enter your sign in code" %}
{% set pageId = 'one-time-code-email-sent' %}

{% block content %}

  <section class="app-container govuk-body">
    {% if errors.length > 0 %}
      {{ govukErrorSummary({
        titleText: 'There is a problem',
        errorList: errors,
        attributes: { 'data-qa-errors': true }
      }) }}
    {% endif %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Enter the code to confirm your CJSM email address</h1>

        <p>We've sent a code to <strong>{{ emailSentTo }}</strong></p>
        <p>The code will expire in {{ oneTimeCodeValidityDuration }} minutes.</p>

        <form id="code-form" action="verify-code" method="post" novalidate>
          <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

          {% call govukFieldset({ }) %}
            {{ govukInput({
              label: {
                text: 'Enter the 4-letter confirmation code',
                classes: 'govuk-label–s'
              },
              hint: {
                text: 'For example, DNLC'
              },
              id: "code",
              name: "code",
              value: form.code,
              spellcheck: false,
              errorMessage: errors | findError('code'),
              classes: 'govuk-input govuk-input--width-5'
            }) }}

            <details class="govuk-details" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">I have not received the email</span>
              </summary>
              <div class="govuk-details__text">
                <p>The email may take a few minutes to arrive. Its subject line is: 'Your code for Send legal mail to prisons'.</p>
                <p>
                  Check your spam or junk folder – if it still has not arrived, you can <a data-qa="request-sign-in-code" class="govuk-link govuk-link--no-visited-state" href="/oneTimeCode/request-code">request a new code</a>.
                  Contact your organisation's CJSM administrator if you do not receive any emails from this service.
                </p>
              </div>
            </details>

            {{ govukButton({
              text: "Confirm",
              attributes: { 'data-qa': 'submit-code-button' }
            }) }}
          {% endcall %}

        </form>
      </div>
    </div>
  </section>

{% endblock %}
