{% extends "layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% set pageTitle = applicationName + " - Request a one time code" %}
{% set pageId = 'request-one-time-code' %}

{% block content %}

  <section class="app-container govuk-body">
    {% if errors.length > 0 %}
      {{ govukErrorSummary({
        titleText: 'There is a problem',
        errorList: errors,
        attributes: { 'data-qa-errors': true }
      }) }}
    {% endif %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Request a code to sign in</h1>
        <h2>TODO - Design and Content Team to weave their magic here</h2>
        <p>Enter your Criminal Justice Secure Mail (CJSM) email. You'll receive an email containing a one time passcode to the service in your inbox.</p>
        <p>The code will expire {{ oneTimeCodeValidityDuration }} minutes after you request it.</p>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form id="email-form" action="request-code" method="post" novalidate>
          <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

          {% call govukFieldset({ }) %}
            {{ govukInput({
              label: {
                text: 'Enter your CJSM email',
                classes: 'govuk-label–s'
              },
              hint: {
                text: 'For example, name@myorganisation.com.cjsm.net'
              },
              id: "email",
              name: "email",
              value: form.email,
              type: 'email',
              spellcheck: false,
              autocomplete: 'email',
              errorMessage: errors | findError('email')
            }) }}
            <div class="govuk-button-group">
              {{ govukButton({
                text: "Submit",
                attributes: { 'data-qa': 'request-code-button' }
              }) }}
            </div>
          {% endcall %}

        </form>
      </div>
    </div>
  </section>

{% endblock %}
