{% extends "layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% set pageTitle = applicationName + " - Request a one time code" %}
{% set pageId = 'request-one-time-code' %}

{% block content %}

  <section class="app-container govuk-body">
    {% if errors.length > 0 %}
      {{ govukErrorSummary({
        titleText: 'There is a problem',
        errorList: errors,
        attributes: { 'data-qa-errors': true }
      }) }}
    {% endif %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Sign in with your CJSM email address</h1>
        <p class="govuk-body">To access this service you'll need a Criminal Justice Secure Mail (CJSM) email address which ends 'cjsm.net'.</p>
        <p class="govuk-body">You can
          <a href="https://cjsm.justice.gov.uk/" target="_blank" class="govuk_link" data-qa="cjsm-link">check if your organisation has already joined CJSM, or apply to join</a>.
        </p>
        <p>Use your CJSM email address to sign in. You'll receive an email containing a code.</p>
        <p data-qa="session-duration">When you've entered the code you'll stay signed in for {{ lsjSessionDuration }}.

        <form id="email-form" action="request-code" method="post" novalidate>
          <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

          {% call govukFieldset({ }) %}
            {{ govukInput({
              label: {
                text: 'Enter your CJSM email',
                classes: 'govuk-label–s'
              },
              hint: {
                text: 'For example name@myorganisation.com.cjsm.net'
              },
              id: "email",
              name: "email",
              value: form.email,
              type: 'email',
              spellcheck: false,
              autocomplete: 'email',
              errorMessage: errors | findError('email')
            }) }}
            {{ govukButton({
              text: "Submit",
              attributes: { 'data-qa': 'request-code-button' }
            }) }}
          {% endcall %}

        </form>
      </div>
    </div>
  </section>

{% endblock %}
