{% extends "layout.njk" %}

{% set pageTitle = applicationName + " - Privacy policy" %}
{% set pageId = 'privacy-policy' %}

{% block content %}

  <section class="app-container govuk-body">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Privacy policy</h1>
        <h2 class="govuk-heading-l">Who we are</h2>
        <p>
          When you use Send legal mail to prisons, some of your personal data is used and stored by the organisation
          that owns the service: His Majesty's Prison and Probation Service (HMPPS).
        </p>
        <p>
          This document, also called a privacy policy, explains what this data is, when and why it is stored, and how
          you can make a request for more information.
        </p>
        <p>
          HMPPS is an Executive Agency or 'Arm's Length Body' of the Ministry of Justice (MoJ). MoJ is the data
          controller for the personal data we hold.
        </p>

        <h2 class="govuk-heading-l">What data we collect</h2>
        <p>We collect some of your personal data to help this service operate securely and efficiently.
        This data is limited to:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>your name</li>
          <li>your CJSM (Criminal Justice Secure Mail) email address</li>
          <li>the name of the company or organisation your CJSM email is associated with</li>
          <li>the address of this company or organisation</li>
          <li>the name, prison number, date of birth, and prison of anyone you send mail to using this service</li>
        </ul>
        <p>If you request support, your personal data may also include:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>your email address or other contact details</li>
          <li>information about yourself that you include as part of your questions, queries or feedback</li>
        </ul>

        <h2 class="govuk-heading-m">Cookies and analytics</h2>
        <p>
          We collect information on how you use this service using cookies and page tagging techniques (Google Analytics).
          This information does not contain any personal data and is only collected if you consent to this.
          You can find out <a href="/cookies-policy" class="govuk-link">how to give or remove consent</a> on our
          Cookies page.
        </p>

        <h2 class="govuk-heading-l">What we do with your personal data</h2>
        <p>Your personal data is used so that the service can:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>confirm you meet the eligibility criteria for sending legal and confidential access mail</li>
          <li>display relevant information to prison staff so they can process mail correctly</li>
          <li>assist the prevention, detection and investigation of crime or unlawful activity</li>
          <li>respond to support requests if this is the best way to resolve an issue</li>
        </ul>
        <p>
          Data is collected and processed in accordance with the General Data Protection Regulation and Data Protection
          Act 2018 and the lawful basis for processing is substantial public interest.
        </p>

        <h2 class="govuk-heading-l">Who your data might be shared with</h2>
        <h2 class="govuk-heading-m">Third party service providers</h2>
        <p>
          We may share your information with our agents or representatives, so they can manage your account. Our agents or representatives will only use your personal data in line with what we have set out in this privacy notice.
        </p>
        <p>We will not:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>sell or rent your data to third parties</li>
          <li>share your data with third parties for marketing purposes</li>
        </ul>
        <p>
          We share your personal information with <a href="https://www.zendesk.com/" class="govuk-link">Zendesk</a>,
          the company that handles support requests.
          You can read their <a href="https://www.zendesk.com/company/terms/" class="govuk-link" target=_blank">terms
          and conditions (opens in a new tab)</a>.
        </p>
        <h2 class="govuk-heading-m">Legal obligations</h2>
        <p>
        We may share your data or disclose information because of a law, regulation or court order and to protect our interests and legal rights.
        </p>

        <h2 class="govuk-heading-l">Where your data is processed and stored</h2>
        <p>
          Data we collect is stored within the UK and Ireland. However, due to the global nature of the internet, data
          may transit through other countries outside of the European Economic Area (EEA) while going to and from the
          database. Data is not stored in a non-EEA country.
        </p>
        <p>
          Feedback about the service may be stored outside of the EEA, where it could be viewed by our staff or
          suppliers. By submitting your personal data, you agree to this.
        </p>

        <h2 class="govuk-heading-l">How long we keep your data</h2>
        <p>
          Data is kept in accordance with the
          <a class="govuk-link"
            href="https://assets.publishing.service.gov.uk/media/5ef4af5a86650c129998585a/psi-04-2018-records-information-management-retention-policy.pdf">
            HMPPS retention policy
          </a>.
        </p>

        <h2 class="govuk-heading-l">Protecting your personal data</h2>
        <p>
          Any personal data we collect will be protected using varying levels of encryption, and only kept for the
          required duration.
        </p>

        <h2 class="govuk-heading-l">Access to your personal data</h2>
        <p>
          You can find out if we hold personal data about you, and ask for a copy of such data, by making a 'subject
          access request'. To make a request, follow the guidance in the
          <a class="govuk-link"
            href="https://www.gov.uk/government/organisations/ministry-of-justice/about/personal-information-charter">
            Ministry of Justice personal information charter
          </a>.
        </p>
        <p>
          If you want us to correct, stop using or erase your personal data, or you want information about how your data
          is processed, you can contact the Data Protection Officer.
        </p>
        <h3 class="govuk-heading-s">Email</h3>
        <p><a href="mailto:privacy@justice.gov.uk">privacy@justice.gov.uk</a></p>
        <h3 class="govuk-heading-s">Post</h3>
        <p>
          Data Protection Officer<br/>
          Ministry of Justice<br/>
          3rd Floor, Post Point 3.20<br/>
          10 South Colonnades<br/>
          Canary Wharf<br/>
          London<br/>
          E14 4PU
        </p>

        <h2 class="govuk-heading-l">Complaints</h2>
        <p>
          If you consider that your information has been handled incorrectly, you can contact the
          <a class="govuk-link" target=_blank href="http://ico.org.uk">
            Information Commissioner's Office (opens in a new tab)
          </a>
          for independent advice about data protection.
        </p>
        <h3 class="govuk-heading-s">Email</h3>
        <p><a href="mailto:casework@ico.org.uk">casework@ico.org.uk</a></p>
        <h3 class="govuk-heading-s">Telephone</h3>
        <p><a href="tel:0303 123 1113">0303 123 1113</a></p>
        <h3 class="govuk-heading-s">Post</h3>
        <p>
          Information Commissioner's Office<br/>
          Wycliffe House<br/>
          Water Lane<br/>
          Wilmslow<br/>
          Cheshire<br/>
          SK9 5AF
        </p>
         <h2 class="govuk-heading-l">Changes to this policy</h2>
         <p>
          We may change this privacy policy. In that case, the ‘last updated’ date at the bottom of this page will also change. Any changes to this privacy policy will apply to you and your data immediately.
         </p>
         <p>
          We encourage you to review this privacy notice regularly to find out how we are protecting your data.
         </p>
         <p>
          Last updated: 08 January 2024
         </p>
      </div>
    </div>
  </section>

{% endblock %}
