{% extends "layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% set pageTitle = applicationName + " - Manage supported prisons" %}
{% set pageId = 'manage-supported-prisons' %}

{% block content %}

  <section class="app-container govuk-body">
    {% if errors.length > 0 %}
      {{ govukErrorSummary({
        titleText: 'There is a problem',
        errorList: errors,
        attributes: { 'data-qa-errors': true }
      }) }}
    {% endif %}

    <div class="govuk-grid-row" id="scan-barcode-form">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Manage supported prisons</h1>

        <p>This is still a work in progress and does not actually change the legal sender prison lists yet.</p>

        {% if prisons.length > 0 %}
          {{ govukTable({
            firstCellIsHeader: true,
            head: [
              { text: 'Prison Code' },
              { text: 'Prison name' },
              { text: 'Remove', classes: 'govuk-!-width-one-quarter' }
            ],
            rows: prisons | prisonTableRowsFilter,
            attributes: { id: 'manage-supported-prisons-table' }
          }) }}

        {% else %}

          <p class="govuk-!-margin-bottom-6" data-qa="no-prisons">
            There are no supported prisons.
          </p>

        {% endif %}

        <form action="/supported-prisons/add" method="post" data-qa="add-prison-form">
          <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
          {{ govukInput({
            label: {
              text: "Prison code",
              isPageHeading: false
            },
            hint: {
              text: "Example, LEI"
            },
            attributes: {
              autocomplete: 'off'
            },
            id: "addPrison",
            name: "addPrison",
            value: addPrison,
            classes: 'govuk-input--width-10',
            errorMessage: errors | findError('prisonId')
          }) }}
          {{ govukButton({
            text: 'Add',
            preventDoubleClick: true,
            attributes: { 'data-qa': 'add-another-prison' }
          }) }}
        </form>

      </div>
    </div>
  </section>

{% endblock %}
