{% extends "./layout.njk" %}

{% set pageId = 'auth-error' %}

{% block content %}

  <section class="app-container govuk-body">

    <div class="govuk-grid-row" id="scan-barcode-form">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Check Rule 39 mail</h1>

        <p>You haven't been given access to the Check Rule 39 mail service yet.</p>
        <p>Contact your local system administrator (LSA) to request access.</p>
      </div>
    </div>

  </section>

{% endblock %}
