{% extends "./layout.njk" %}

{% set pageId = 'auth-error' %}

{% block content %}

  <section class="app-container govuk-body">

    <h1 class="govuk-heading-l">
      Authorisation Error
    </h1>
    <p>
      You are not authorised to use this application.
    </p>

  </section>

  {{ contactHelpdeskBanner() }}
{% endblock %}
