{% extends "govuk/template.njk" %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{% block head %}
  {% if gtmContainerId and ga4MeasurementId and (cookiesPolicy.policy === '' or cookiesPolicy.policy === 'reject') %}
  <script>
    window["ga-disable-G-{{ ga4MeasurementId }}"] = true
  </script>
  {% endif %}

  {% if gtmContainerId != null %}
  {# Google Tag Manager #}
  <script nonce="{{ cspNonce }}" data-qa="gtm">
    ;
    (function (w, d, s, l, i) {
      w[l] = w[l] || [];
      w[l].push({'gtm.start': new Date().getTime(), event: 'gtm.js'});
      var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s),
        dl = l != 'dataLayer'
          ? '&l=' + l
          : '';
      j.async = true;
      j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
      var n = d.querySelector('[nonce]');
      n && j.setAttribute('nonce', n.nonce || n.getAttribute('nonce'));
      f
        .parentNode
        .insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', '{{ gtmContainerId }}');
  </script>
  {# End Google Tag Manager #}
  {% endif %}

  <!--[if !IE 8]><!-->
  <link href="/assets/stylesheets/application.css?{{ version }}" rel="stylesheet"/>
  <!--<![endif]-->

  <!--[if lt IE 9]>
  <link href="/assets/stylesheets/application-ie8.css?{{ version }}" rel="stylesheet"/>
  <script src="/assets/js/html5shiv-3.7.3.min.js"></script>
  <![endif]-->

  <script src="/assets/js/jquery.min.js"></script> 
  <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.min.js" integrity="sha256-eTyxS0rkjpLEo16uXTS0uVCS4815lc40K2iVpWDvdSY=" crossorigin="anonymous"></script>
  <link href="https://code.jquery.com/ui/1.13.1/themes/ui-lightness/jquery-ui.css" rel="stylesheet">

  <script src="/assets/js/jquery.inputmask.js"></script>
  <script src="/assets/js/inputmask.binding.js"></script>

  <script src="/assets/js/accessible-autocomplete.min.js"></script>
  <link href="/assets/stylesheets/accessible-autocomplete.min.css" rel="stylesheet"/>

  <script src="/assets/js/page-enhancements.js"></script>

{% endblock %}

{% block pageTitle %}{{pageTitle | default(applicationName)}}{% endblock %}

{% block header %}
  {% include "partials/cookie-banner.njk" %}
  {% include "partials/header.njk" %}
{% endblock %}

{% block bodyStart %}
  {% if gtmContainerId %}
    <!-- Google Tag Manager (noscript) -->
    <noscript>
      <iframe src="https://www.googletagmanager.com/ns.html?id={{gtmContainerId}}" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
  {% endif %}
{% endblock %}

{# Override the `main` block from the govuk template so that we can add the Contact The Helpdesk banner #}
{% block main %}
  <div class="govuk-width-container {{ containerClasses }}">

    {{ govukPhaseBanner({
      attributes: {
        role: "complementary"
      },
      tag: {
        text: "beta"
      },
      html: 'This is a new service – your <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="'+ phaseBannerLink +'">feedback</a> will help us to improve it.'
    }) }}

    <span class="govuk-visually-hidden" id="{{ pageId }}"></span>
    <main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" role="main"{% if mainLang %} lang="{{ mainLang }}"{% endif %}>
      {% block content %}{% endblock %}
    </main>

    {% if pageId not in contactHelpdeskBannerExcludedOnPages %}
      <section class="contact-helpdesk" role="complementary">
        {% set contactHelpdeskUrl %}
          {% if externalUser %}
            /contact-helpdesk?pageId={{ pageId }}
          {% else %}
            /scan-barcode/contact-helpdesk?pageId={{ pageId }}
          {% endif %}
        {% endset %}
        <a href="{{ contactHelpdeskUrl }}" target="_blank" class="govuk-link govuk-link--inverse" data-qa="contact-helpdesk">Contact helpdesk (opens in new tab)</a>
      </section>
    {% endif %}

  </div>
{% endblock %}

{% block footer %}
  {%- from "govuk/components/footer/macro.njk" import govukFooter -%}
  {{ govukFooter({
    meta: {
      items: [
        {
          href: "/cookies-policy",
          text: "Cookies"
         }
      ]
    }
  }) }}
{% endblock %}

{% block bodyEnd %}
  {# Run JavaScript at end of the
  <body>, to avoid blocking the initial render. #}
  <script src="/assets/govuk/all.js"></script>
  <script src="/assets/moj/all.js"></script>
  <script src="/assets/govukFrontendInit.js"></script>
  <script src="/assets/mojFrontendInit.js"></script>
  {% block pageScripts %}{% endblock %}
{% endblock %}
