#manual-barcode-form {

  .govuk-error-summary__list {
    li {
      display: none;
    }
    li:first-of-type {
      display: inherit;
    }
  }

  .barcode-fields {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;

    .govuk-form-group {
      padding-right: 2rem;
      position: relative;
    }
    .govuk-input {
      text-align: center;
    }

    .govuk-form-group--error {
      &:nth-of-type(2), &:nth-of-type(3) {
        border: none;
        padding-left: 0;
      }

      .govuk-input--error {
        margin-top: 2rem;
      }
      .govuk-error-message {
        position: absolute;
        top: 0;
        width: 300%;
      }
      #barcodeElement2-error, #barcodeElement3-error {
        display: none;
      }
    }
  }

  .example-barcode {
    @media (min-width: 40.0625em) {
      h3 {
        border-top: 3px solid $govuk-brand-colour;
        padding-top: 1rem;
      }
    }
    .img-container {
      border: 1px solid $govuk-border-colour;
      padding: 1rem;

      img {
        display: block;
        margin: 0 auto;
      }
    }
  }
}