#manual-barcode-form {

  .govuk-input {
    font-family: monospace;
  }

  .example-barcode {
    @media (min-width: 40.0625em) {
      h3 {
        border-top: 3px solid $govuk-brand-colour;
        padding-top: 1rem;
      }
    }
    .img-container {
      border: 1px solid $govuk-border-colour;
      padding: 1rem;

      img {
        display: block;
        margin: 0 auto;
      }
    }
  }
}