#scan-barcode-form {

  .example-scanner {
    @media (min-width: 40.0625em) {
      h3 {
        border-top: 3px solid $govuk-brand-colour;
        padding-top: 1rem;
      }
    }
    .img-container {
      img {
        width: 100%;
      }
    }
  }
}
