{% extends "layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% set pageTitle = applicationName + " - Manually enter a barcode" %}
{% set pageId = 'manually-enter-barcode' %}

{% block content %}

  <section class="app-container govuk-body">
    {% if errors.length > 0 %}
      {{ govukErrorSummary({
        titleText: 'There is a problem',
        errorList: errors,
        attributes: { 'data-qa-errors': true }
      }) }}
    {% endif %}

    <div class="govuk-grid-row" id="manual-barcode-form">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Enter the barcode number manually</h1>

        <form action="/manually-enter-barcode" method="post" novalidate>
          <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

          {% call govukFieldset() %}

            {{ govukInput({
              label: {
                text: 'Find the barcode number and enter it manually if scanning didn\'t work.'
              },
              hint: {
                text: 'The barcode number is the 12-digit number printed along the bottom of the barcode.'
              },
              classes: 'govuk-!-width-one-half',
              attributes: {
                autocomplete: 'off',
                'data-inputmask': '"mask": "9999-9999-9999", "placeholder": " ", "autoUnmask": true, "removeMaskOnSubmit": true'
              },
              inputmode: 'numeric',
              id: 'barcode',
              name: 'barcode',
              value: form.barcode,
              errorMessage: errors | findError('barcode')
            }) }}
          {% endcall %}

          <div class="govuk-button-group">
            {{ govukButton({
              text: "Submit barcode number",
              attributes: { 'data-qa': 'submit-barcode-button' }
            }) }}
          </div>
        </form>

        <h2 class="govuk-heading-m">What to do if you cannot enter the barcode number</h2>
        <p>Flag this item of mail for further checks when the barcode number:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>is missing or damaged</li>
          <li>is not 12 digits long</li>
        </ul>
        <a href="scan-barcode/problem" class="govuk-link" id="barcode-problem">I want to investigate further</a>
      </div>

      <div class="govuk-grid-column-one-third example-barcode">
        <h2 class="govuk-heading-m">Where to find the barcode number</h2>
        <div class="img-container">
          <img src="/assets/images/example-barcode.png" alt="An example barcode showing where the barcode number can be read from" />
        </div>
      </div>

    </div>

  </section>

{% endblock %}
