{% extends "layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% set pageTitle = applicationName + " - Scan a barcode" %}
{% set pageId = 'scan-barcode' %}

{% block content %}

  <section class="app-container govuk-body">
    {% if errors.length > 0 %}
      {{ govukErrorSummary({
        titleText: 'There is a problem',
        errorList: errors,
        attributes: { 'data-qa-errors': true }
      }) }}
    {% endif %}

    <div class="govuk-grid-row" id="scan-barcode-form">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Scan Rule 39 mail</h1>

        <p>You need to check mail with a Rule 39 barcode is genuine.</p>

        {{ govukInsetText({
          text: 'You must not open any item of Rule 39 mail without permission from the governor.'
        }) }}

        <h2 class="govuk-heading-l">Scan the barcode</h2>
        <p>You'll see a number in the box below and hear a beep if the scan has worked. After a few seconds you'll get further instructions.</p>

        <form action="/scan-barcode" method="post" novalidate>
          <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

          {% call govukFieldset() %}

            {{ govukInput({
              classes: 'govuk-!-width-one-half',
              label: {
                text: 'Point the scanner at the barcode'
              },
              attributes: {
                autofocus: '',
                autocomplete: 'off',
                placeholder: 'Ready for scan'
              },
              inputmode: 'numeric',
              id: 'barcode',
              name: 'barcode',
              value: form.barcode,
              errorMessage: errors | findError('barcode')
            }) }}

            <div class="govuk-button-group">
              {{ govukButton({
                text: 'Submit barcode number',
                classes: 'govuk-visually-hidden'
              }) }}
            </div>
          {% endcall %}
        </form>

        <h2 class="govuk-heading-m">What to do if the scan does not work</h3>
        <p>If the barcode will not scan, enter the barcode number manually instead.</p>
        <a href="/manually-enter-barcode" class="govuk-link" id="manual-barcode-entry">I cannot scan the barcode</a>

      </div>

      <div class="govuk-grid-column-one-third example-scanner">
        <h3 class="govuk-heading-m">Aim the beam at the barcode</h3>
        <div class="img-container">
          <img src="/assets/images/barcode-scanner.png" title="A barcode scanner being used to scan a barcode from an item of mail" />
        </div>
      </div>

    </div>
  </section>

{% endblock %}
