{% extends "layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% set pageTitle = applicationName + " - Download coversheets" %}
{% set pageId = 'print-coversheets' %}

{% block content %}

  <section class="app-container govuk-body" id="print-coversheets-content">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Download your coversheets</h1>

        <p>Your PDF file <strong>{{ filename }}</strong> with {{ numberOfCoversheets }} {{ 'coversheets' if numberOfCoversheets > 1 else 'coversheet' }} is ready to download.</p>

        {{ govukButton({
          html: downloadButtonHtml,
          href: "/barcode/pdf/download",
          classes: 'govuk-button',
          attributes: { 'data-qa': 'download-pdf-button' }
        }) }}

        <p>Your coversheets will be saved to your computer's Downloads folder or wherever you usually download files.</p>

        <h2 class="govuk-heading-m">When you've printed your coversheets</h2>

        {% if envelopeSize == 'c4' %}
          <p>Insert the sheet into a window envelope. Make sure the address and barcode are visible.</p>
        {% else %}
          <ol class="govuk-list govuk-list--number">
            <li>
              <p class="govuk-!-margin-bottom-3">Fold each sheet in {{ 'half' if envelopeSize == 'c5' else 'thirds' }}.</p>
              <img src="/assets/images/{{ envelopeSize }}-coversheet-with-fold-lines.png" alt="" width="142px"/>
            </li>
            <li>Insert the sheet into a window envelope. Make sure the address and barcode are visible.</li>
          </ol>
        {% endif %}

      </div>
    </div>

    <div class="govuk-grid-row govuk-!-margin-top-2">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">If you want to send more legal mail</h1>
        <a href="/barcode/find-recipient" data-qa="send-more-legal-mail" class="govuk-link">Enter another prison number</a>
      </div>
    </div>

    {% if smokeTestBarcode %}
      <span class="govuk-!-display-none" data-qa="smoke-test-barcode">{{ smokeTestBarcode }}</span>
    {% endif %}
  </section>

{% endblock %}
