{% extends "layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% set pageTitle = applicationName + " - Print coversheets" %}
{% set pageId = 'print-coversheets' %}

{% block content %}

  <section class="app-container govuk-body" id="print-coversheets-content">
    {% if errors.length > 0 %}
      {{ govukErrorSummary({
        titleText: 'There is a problem',
        errorList: errors,
        attributes: { 'data-qa-errors': true }
      }) }}
    {% endif %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">Print the coversheets</h1>

<p>Your coversheet will download shortly. Check your downloads folder</p>
<p>If you coversheet has not downloaded, <a href="/barcode/pdf/download" class="govuk-link" id="downloadPdf">click here to download manually</a></p>

        <div class="envelope {{ form.envelopeSize }}">
          <p class="govuk-!-margin-top-4 govuk-!-margin-bottom-4">
            {% if form.envelopeSize == 'dl' %}
              Fold each sheet in thirds. The address and barcode will display in the envelope window.
            {% endif %}
            {% if form.envelopeSize == 'c5' %}
              Fold each sheet in half. The address and barcode will display in the envelope window.
            {% endif %}
            {% if form.envelopeSize == 'c4' %}
              The address and barcode will display in the envelope window.
            {% endif %}
          </p>

          {% if form.envelopeSize != 'c4' %}
            <span>
              <img src="/assets/images/print-barcodes-coversheet.png" alt="An example coversheet showing the fold marks" />
            </span>
          {% endif %}
        </div>
      </div>
    </div>

    <div class="govuk-grid-row govuk-!-margin-top-6">
      <div class="govuk-grid-column-full">

        <p class="govuk-!-margin-top-6 govuk-!-margin-bottom-6">
          <a href="{{ exitSurveyLink }}" class="govuk-link" rel="noreferrer noopener" target="_blank">Help us improve this service (opens in a new tab)</a>
        </p>
      </div>
    </div>
  </section>

{% endblock %}
