{% extends "layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% set pageTitle = applicationName + " - Select envelope size" %}
{% set pageId = 'select-envelope-size' %}

{% block content %}

  <section class="app-container govuk-body">
    {% if errors.length > 0 %}
      {{ govukErrorSummary({
        titleText: 'There is a problem',
        errorList: errors,
        attributes: { 'data-qa-errors': true }
      }) }}
    {% endif %}

    <form id="select-envelope-size-form" action="/barcode/pdf/select-envelope-size" method="POST" novalidate>
      <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

      {% call govukFieldset({ }) %}

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
              <h1 class="govuk-fieldset__heading">Select envelope size</h1>
            </legend>
          </div>
        </div>

        {{ govukRadios({
          items: envelopeSizes | renderEnvelopeSizeRadios,
          id: 'envelopeSize',
          name: 'envelopeSize',
          errorMessage: errors | findError('envelopeSize')
        }) }}

        {{ govukButton({
          text: 'Continue'
        }) }}

      {% endcall %}
    </form>
  </section>

{% endblock %}
