{% extends "layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% set pageTitle = applicationName + " - Request a link" %}
{% set pageId = 'request-link' %}

{% block content %}

  <section class="app-container govuk-body">
    {% if errors.length > 0 %}
      {{ govukErrorSummary({
        titleText: 'There is a problem',
        errorList: errors,
        attributes: { 'data-qa-errors': true }
      }) }}
    {% endif %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Request a link to sign in</h1>
        <h2 class="govuk-heading-s">Enter your Criminal Justice Secure Mail (CJSM) email address.</h2>
        <p>You'll receive an email containing a link to the service in your inbox. Follow the link to sign in.</p>
        <p>The link will expire {{ magicLinkValidityDuration }} minutes after you request it.</p>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form id="email-form" action="request-link" method="post" novalidate>
          <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

          {% call govukFieldset({ }) %}
            {{ govukInput({
              label: {
                text: 'Enter your CJSM email, for example name@myorganisation.com.cjsm.net'
              },
              id: "email",
              name: "email",
              value: form.email,
              type: 'email',
              errorMessage: errors | findError('email')
            }) }}
            <div class="govuk-button-group">
              {{ govukButton({
                text: "Submit",
                attributes: { 'data-qa': 'request-link-button' }
              }) }}
            </div>
          {% endcall %}

        </form>
      </div>
    </div>
  </section>

{% endblock %}
