{% extends "layout.njk" %}

{% set pageTitle = applicationName + " - Accessibility statement" %}
{% set pageId = 'accessibility-statement' %}

{% block content %}

  <section class="app-container govuk-body">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Accessibility statement</h1>
        <p>
          This accessibility statement applies to Send Legal Mail to Prisons.
        </p>
        <p>
          This website is run by HMPPS Digital. We want as many people as possible to be able to use this website.
          For example, that means you should be able to:
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>change colours, contrast levels and fonts</li>
          <li>zoom in up to 300% without the text spilling off the screen</li>
          <li>navigate most of the website using just a keyboard</li>
          <li>navigate most of the website using speech recognition software</li>
          <li>listen to most of the website using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)</li>
        </ul>
        <p>
          We’ve also made the website text as simple as possible to understand.
        </p>
        <p>
          <a href="https://mcmw.abilitynet.org.uk/">AbilityNet</a> has advice on making your device easier to use if you have a disability.
        </p>
 
        <h2 class="govuk-heading-l">Feedback and contact information</h2>
        <p>
          If you need information on this website in a different format like accessible PDF, large print, easy read or audio recording:
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="mailto:sendlegalmail@justice.gov.uk">sendlegalmail@justice.gov.uk</a></li>
        </ul>
        <p>
          We’ll consider your request and get back to you in 5 working days.
        </p>

        <h2 class="govuk-heading-l">Reporting accessibility problems with this website</h2>
        <p>
          We’re always looking to improve the accessibility of this website. If you find any problems not listed on this page or think
          we’re not meeting accessibility requirements, contact:
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="mailto:sendlegalmail@justice.gov.uk">sendlegalmail@justice.gov.uk</a></li>
        </ul>
        <p>
          This service is creating PDFs that are meant for print. We do not plan to replace the PDF format as the generated PDF is meant
          for printing, with the information selected digitally. This is a crucial part of the service that we’re providing.
        </p>

        <h3 class="govuk-heading-m">Enforcement procedure</h3>
        <p>
          The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies
          (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’).
          If you’re not happy with how we respond to your complaint,
          <a href="https://www.equalityadvisoryservice.com/">contact the Equality Advisory and Support Service (EASS)</a>.
        </p>


        <h2 class="govuk-heading-l">Technical information about this website’s accessibility</h2>
        <p>
          HMPPS Digital is committed to making its website accessible, in accordance with the Public Sector Bodies
          (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.
        </p>
        <h3 class="govuk-heading-m">Compliance status</h3>
        <p>
          This website is fully compliant with the
          <a href="https://www.w3.org/TR/WCAG21/">Web Content Accessibility Guidelines version 2.1</a> AA standard.
        </p>

        <h2 class="govuk-heading-l">Preparation of this accessibility statement</h2>
        <p>
          This statement was prepared on 18 July 2022. It was last reviewed on 18 July 2022.
        </p>
        <p>
          This website was last tested on 22 May 2022. The test was carried out by Digital Accessibility Centre.
        </p>
      </div>
    </div>
  </section>

{% endblock %}
