{% if url and not 'cookies-policy' in url %}
  {% block cookieBanner %}
    {% if not cookiesPolicy.policy %}
      {% from "govuk/components/cookie-banner/macro.njk" import govukCookieBanner %}

      {% set html %}
        <p class="govuk-body">We use some essential cookies to make this service work.</p>
        <p class="govuk-body">We’d also like to use analytics cookies so we can understand how you use the service and make
            improvements.</p>
      {% endset %}
      <form action="/cookies-policy/preferences" method="post" id="cookiePreferencesForm">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
        {{ govukCookieBanner({
            ariaLabel: "Cookies on Send legal mail",
            messages: [
              {
                headingText: "Cookies on Send legal mail",
                html: html,
                actions: [
                {
                  text: "Accept analytics cookies",
                  type: "submit",
                  name: "cookies",
                  value: "accept",
                  attributes: { 'data-qa': 'accept' }
                },
                {
                  text: "Reject analytics cookies",
                  type: "submit",
                  name: "cookies",
                  value: "reject",
                  attributes: { 'data-qa': 'reject' }
                },
                {
                  text: "View cookies",
                  href: "/cookies-policy",
                  classes: "govuk-link--no-visited-state",
                  attributes: { 'data-qa': 'view' }
                }
              ]
              }
            ]
        }) }}
      </form>
    {% endif %}

    {% if cookiesPolicy.showConfirmation %}
      {% include "partials/cookies/cookie-preferences-set.njk" %}
    {% endif %}
  {% endblock %}
{% endif %}