{% extends "../layout.njk" %}

{% set pageTitle = applicationName + " - Error" %}

{% block content %}

  <section class="app-container govuk-body">
    <h1>{{ message }}</h1>
    <h2>{{ status }}</h2>
    <pre>{{ stack }}</pre>
  </section>

  {{ contactHelpdeskBanner() }}
{% endblock %}
